@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 10px;
}

body{
    background-color: #fff;
    font-family: "Ninito", sans-serif;
    color: #5b5766;
    font-size: 1.8rem;
}

ul{
    list-style: none;
}

h1
h2
h3 {
    font-family:"Poppins" , sans-serif;
    font-weight: bold;
    color: #554d89;
}

.wrapper{
    width: 1146px;
    margin: 0 auto;
}

.divider{
    border: none;
    border: 1px solid #E1E4ED;
}

.top-header{
    display: flex;
    justify-content: space-between;
    padding: 2.4rem 1.7rem;
    font-size: 1.6rem;
}

.top-header_text{
    color: #716C80;
    
   
}

.top-header_phone{
    color: #716C80;
    text-decoration: none;
    padding-left: 4rem;

}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 2.6rem;
}



